{% extends 'localisation.html.twig' %}

{% block title %}serie{% endblock %}

{% block body %}
    <div id="detailsMap" data-lon="{{ user.lon}}" data-lat="{{ user.lat}}" data-nom="{{ user.nom}}"></div>

    <div id="detailsMap"></div>
{% endblock %}
